                {% for ad in ads %}
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-12">
                        <div>
                          <div class="row">
                            <div class="col-sm-7">
                              <p><strong>Продается {{ ad.rooms_number }}-комнатная квартира</strong></p>
                            </div>
                            <div class="col-sm-5">
                              <p class="text-right"><strong class="nowrap">{{ ad.price }} р.</strong></p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <p>{{ ad.settlement }}, {{ ad.address }}</p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <p>{{ ad.description }}</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <p>
                          <span class="label label-success">комнат: {{ ad.rooms_number }}</span>
                          <span class="label label-primary">{{ ad.premise_area }} кв.м.</span>
                          {% if ad.has_balcony %}
                          <span class="label label-primary">Балкон: да</span>
                          {% else %}
                          <span class="label label-primary">Балкон: нет</span>
                          {% endif %}
                          {% if ad.construction_year %}
                          <span class="label label-primary">Год строительства: {{ad.construction_year}}</span>
                          {% endif %}
                          {% if ad.under_construction %}
                          <span class="label label-primary">Состояние: строится</span>
                          {% endif %}
                        </p>
                      </div>
                    </div>
                  </div>
                  <hr>
                {% endfor %}

                 <div class="panel-body" style="text-align:center;">
                   <div class="clearfix">
                     <ul class="pagination">
                       {% for page_num in range(1, pages_count + 1) %}
                         {% if page_num == active_page %}
                           <li class="active"><span>{{page_num}} <span class="sr-only">(current)</span></span></li>
                         {% else %}
                           <li><a href="#" onclick="GetPage('/{{page_num}}');">{{page_num}}</a></li>
                         {% endif %}
                       {% endfor %}
                     </ul>
                   </div>
                 </div>
