<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Недвижимость">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Недвижимость</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>

  <body>

    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Недвижимость. Объявления</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-sm-4">
              <form role="form" class="panel panel-default js-form" method="GET">
                <div class="panel-body">
                  <p>город / районный центр</p>
                  <div class="form-group">
                    <select name="oblast_district" class="form-control">
                      <option {% if params.oblast_district == "Череповецкий район" %}selected{% endif %} value="Череповецкий район">Череповец</option>
                      <option {% if params.oblast_district == "Шекснинский район" %}selected{% endif %} value="Шекснинский район">Шексна</option>
                      <option {% if params.oblast_district == "Вологодский район" %}selected{% endif %} value="Вологодский район">Вологда</option>
                      <optgroup label="Б">
                        <option {% if params.oblast_district == "Бабаевский район" %}selected{% endif %} value="Бабаевский район">Бабаево</option>
                        <option {% if params.oblast_district == "Бабушкинский район" %}selected{% endif %} value="Бабушкинский район">Село имени Бабушкина</option>
                        <option {% if params.oblast_district == "Белозерский район" %}selected{% endif %} value="Белозерский район">Белозерск</option>
                      </optgroup>
                      <optgroup label="В">
                        <option {% if params.oblast_district == "Великоустюгский район" %}selected{% endif %} value="Великоустюгский район">Великий Устюг</option>
                        <option {% if params.oblast_district == "Верховажский район" %}selected{% endif %} value="Верховажский район">Верховажье</option>
                        <option {% if params.oblast_district == "Вожегодский район" %}selected{% endif %} value="Вожегодский район">Вожега</option>
                        <option {% if params.oblast_district == "Вологодский район" %}selected{% endif %} value="Вологодский район">Вологда</option>
                        <option {% if params.oblast_district == "Вытегорский район" %}selected{% endif %} value="Вытегорский район">Вытегра</option>
                      </optgroup>
                      <optgroup label="Г">
                        <option {% if params.oblast_district == "Грязовецкий район" %}selected{% endif %} value="Грязовецкий район">Грязовец</option>
                      </optgroup>
                      <optgroup label="К">
                        <option {% if params.oblast_district == "Кадуйский район" %}selected{% endif %} value="Кадуйский район">Кадуй</option>
                        <option {% if params.oblast_district == "Кирилловский район" %}selected{% endif %} value="Кирилловский район">Кириллов</option>
                        <option {% if params.oblast_district == "Кичменгско-Городецкий район" %}selected{% endif %} value="Кичменгско-Городецкий район">Кичменгский Городок</option>
                      </optgroup>
                      <optgroup label="Л">
                        <option {% if params.oblast_district == "Вашкинский район" %}selected{% endif %} value="Вашкинский район">Липин Бор</option>
                      </optgroup>
                      <optgroup label="Н">
                        <option {% if params.oblast_district == "Никольский район" %}selected{% endif %} value="Никольский район">Никольск</option>
                        <option {% if params.oblast_district == "Нюксенский район" %}selected{% endif %} value="Нюксенский район">Нюксеница</option>
                      </optgroup>
                      <optgroup label="С">
                        <option {% if params.oblast_district == "Сокольский район" %}selected{% endif %} value="Сокольский район">Сокол</option>
                        <option {% if params.oblast_district == "Сямженский район" %}selected{% endif %} value="Сямженский район">Сямжа</option>
                      </optgroup>
                      <optgroup label="Т">
                        <option {% if params.oblast_district == "Тарногский район" %}selected{% endif %} value="Тарногский район">Тарногский Городок</option>
                        <option {% if params.oblast_district == "Тотемский район" %}selected{% endif %} value="Тотемский район">Тотьма</option>
                      </optgroup>
                      <optgroup label="У">
                        <option {% if params.oblast_district == "Усть-Кубинский район" %}selected{% endif %} value="Усть-Кубинский район">Устье</option>
                        <option {% if params.oblast_district == "Устюженский район" %}selected{% endif %} value="Устюженский район">Устюжна</option>
                      </optgroup>
                      <optgroup label="Х">
                        <option {% if params.oblast_district == "Харовский район" %}selected{% endif %} value="Харовский район">Харовск</option>
                      </optgroup>
                      <optgroup label="Ч">
                        <option {% if params.oblast_district == "Чагодощенский район" %}selected{% endif %} value="Чагодощенский район">Чагода</option>
                        <option {% if params.oblast_district == "Череповецкий район" %}selected{% endif %} value="Череповецкий район">Череповец</option>
                      </optgroup>
                      <optgroup label="Ш">
                        <option {% if params.oblast_district == "Шекснинский район" %}selected{% endif %} value="Шекснинский район">Шексна</option>
                        <option {% if params.oblast_district == "Междуреченский район" %}selected{% endif %} value="Междуреченский район">Шуйское</option>
                      </optgroup>
                    </select>
                  </div>
                  <div class="form-group ">
                    <div class="checkbox">
                      <label>
                        {% if params.new_building %}
                        <input type="checkbox" name="new_building" checked>
                        {% else %}
                        <input type="checkbox" name="new_building">
                        {% endif %}
                        только новостройки
                      </label>
                    </div>
                  </div>
                  <p><strong>Цена</strong></p>
                  <div class="form-group ">
                    <div class="input-group">
                      <span class="input-group-addon">от</span>
                      {% if params.min_price %}
                      <input autocomplete="off" type="text" value="{{params.min_price}}" name="min_price" class="form-control js-price-format" placeholder="любая">
                      {% else %}
                      <input autocomplete="off" type="text" value="" name="min_price" class="form-control js-price-format" placeholder="любая">
                      {% endif %}
                      <span class="input-group-addon">р.</span>
                    </div>
                  </div>
                  <div class="form-group ">
                    <div class="input-group">
                      <span class="input-group-addon">до</span>
                      {% if params.max_price %}
                      <input autocomplete="off" type="text" value="{{params.max_price}}" name="max_price" class="form-control js-price-format" placeholder="любая">
                      {% else %}
                      <input autocomplete="off" type="text" value="" name="max_price" class="form-control js-price-format" placeholder="любая">
                      {% endif %}
                      <span class="input-group-addon">р.</span>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success" onclick="GetPage('\?page=1');">Показать</button>
                </div>
              </form>
            </div>
            <div class="col-sm-8">
              {% for ad in ads.items %}
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <div>
                        <div class="row">
                          <div class="col-sm-7">
                            <p><strong>Продается {{ ad.rooms_number }}-комнатная квартира</strong></p>
                          </div>
                          <div class="col-sm-5">
                            <p class="text-right"><strong class="nowrap">{{ ad.price }} р.</strong></p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <p>{{ ad.settlement }}, {{ ad.address }}</p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <p>{{ ad.description }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <p>
                        <span class="label label-success">комнат: {{ ad.rooms_number }}</span>
                        <span class="label label-primary">{{ ad.premise_area }} кв.м.</span>
                        {% if ad.has_balcony %}
                        <span class="label label-primary">Балкон: да</span>
                        {% else %}
                        <span class="label label-primary">Балкон: нет</span>
                        {% endif %}
                        {% if ad.construction_year %}
                        <span class="label label-primary">Год строительства: {{ad.construction_year}}</span>
                        {% endif %}
                        {% if ad.under_construction %}
                        <span class="label label-primary">Состояние: строится</span>
                        {% endif %}
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
              {% endfor %}

              <nav aria-label="Page navigation" style="text-align: center;">
                <ul class="pagination">
                  {% if ads.has_prev %}
                    <li class="active"><a href="{{ url_for('ads_page', page=ads.prev_num, oblast_district=params.oblast_district, new_building=params.new_building, min_price=params.min_price, max_price=params.max_price) }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                  {% else %}
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                  {% endif %}

                  {% for page in ads.iter_pages() %}
                    {% if page %}
                      {% if page != ads.page %}
                        <li><a href="{{ url_for('ads_page', page=page, oblast_district=params.oblast_district, new_building=params.new_building, min_price=params.min_price, max_price=params.max_price) }}">{{page}}</a></li>
                      {% else %}
                        <li class="active"><a href="{{ url_for('ads_page', page=page, oblast_district=params.oblast_district, new_building=params.new_building, min_price=params.min_price, max_price=params.max_price) }}">{{page}}</a></li>
                      {% endif %}
                    {% else %}
                      <li><a href="#">...</a></li>
                    {% endif %}
                  {% endfor %}

                  {% if ads.has_next %}
                    <li class="active"><a href="{{ url_for('ads_page', page=ads.next_num, oblast_district=params.oblast_district, new_building=params.new_building, min_price=params.min_price, max_price=params.max_price) }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                  {% else %}
                    <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                  {% endif %}
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
