                {% for ad in ads %}
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-12">
                        <div>
                          <div class="row">
                            <div class="col-sm-7">
                              <p><strong>Продается {{ ad.rooms_number }}-комнатная квартира</strong></p>
                            </div>
                            <div class="col-sm-5">
                              <p class="text-right"><strong class="nowrap">{{ ad.price }} р.</strong></p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <p>{{ ad.settlement }}, {{ ad.address }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <p>
                          <span class="label label-success">комнат: {{ ad.rooms_number }}</span>
                          <span class="label label-primary">{{ ad.premise_area }} кв.м.</span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <hr>
                {% endfor %}
                <div class="panel-body">
                  <div class="clearfix">
                    <ul class="pagination pull-right">
                      <li class="disabled"><span>«</span></li>
                      <li class="active"><span>1 <span class="sr-only">(current)</span></span></li>
                      <li><a href="?page=2" role="next">2</a></li>
                      <li><a href="?page=3" role="next">3</a></li>
                      <li><a href="?page=4" role="next">4</a></li>
                      <li><a href="?page=2" role="next">»</a></li>
                    </ul>
                  </div>
                </div>